name: Test KNP-EMI code via docker
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ["main"]
  push:
    branches: ["**"]

env:
  DEB_PYTHON_INSTALL_LAYOUT: deb_system

defaults:
  run:
    shell: bash -el {0}

jobs:
  test_scripts:
    runs-on: ubuntu-latest
    container: ghcr.io/scientificcomputing/fenics:2024-02-19

    steps:
      - uses: actions/checkout@v4

      - name: install package
        run: |
          python -m pip install .

      - name: Run example
        run: |
          python ./examples/EMI_example.py
